In [62]:
import os, sys
import numpy as np
import pandas as pd
from local.caching import load, save

In [63]:
mat = load('biocyc_org.pandas')
mat

recovering & decompressing cached data from [{WORKSPACE}/main/test_models/cache/biocyc_org.pandas.pkl.gz]

                   pgdb                               name      taxonomy tier
0                aracyc               Arabidopsis thaliana           NIL    1
1               metacyc                            MetaCyc           NIL    1
2                ecocyc                   Escherichia coli        511145    1
3              humancyc                       Homo sapiens          9606    1
4              yeastcyc           Saccharomyces cerevisiae        559292    1
...                 ...                                ...           ...  ...
19994  gcf_001904655cyc       Chroogloeocystis siderophila  SAMN05890687    3
19995  gcf_000025085cyc         Staphylococcus lugdunensis  SAMN02603957    3
19996  gcf_000307105cyc            Desulfobacula toluolica  SAMEA2272293    3
19997  gcf_000746025cyc  Thermoanaerosceptrum fracticalcis  SAMN02745515    3
19998  gcf_000344865cyc                Salmonella enterica  SAMN02415261    3

[19999 rows x 4 columns]